*, body {
  /*font-family: 'Helvetica-Neue', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;*/
  font-family: serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  /*font-weight: lighter;*/
}

body {
  padding: 0;
  margin: 0;
  color: #28437C;
}

/* 共通系 */
.responsible-wrapper {
  max-width: 920px;
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  padding: 32px 0 64px;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  justify-content: right;
  align-items: center;
}

.header-navigation-list {
  cursor: pointer;
  margin: 0 10px;
}

.header-navigation-list:hover {
  opacity: 0.7;
}

#main-visual {
  position: relative;
  height: 500px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#main-visual:before {
  background-image: url('images/RED19515A006.jpg');
  background-size: cover;
  content: '';
  width: 100%;
  position: absolute;
  height: 500px;
  z-index: -1;
  filter: brightness(85%);
}

.main-visual-title {
  font-family: serif;
  font-size: 48px;
  text-align: left;
  color: white;
}

.main-visual-text {
  font-family: serif;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  color: white;
}

.section-main {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 50px;
  font-weight: 100;
}

.section-title {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 30px;
  font-weight: 100;
}

.section-content {
  padding: 10px 0;
}

.section-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-list {
  margin-right: 20px;
  float: left;
}

.section-li {
  list-style: none;
}

#introduction p {
  font-size: 12px;
  text-align: center;
}

#skills p {
  font-size: 12px;
  text-align: center;
}